/* Remove arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none; /* Remove default appearance */
  margin: 0; /* Reset margin */
}

/* Remove arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Set appearance to textfield */
}
